@font-face {
  font-family: 'GoogleSans-Regular';
  src: url('./fonts/GoogleSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GoogleSans-Medium';
  src: url('./fonts/GoogleSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'GoogleSans-Bold';
  src: url('./fonts/GoogleSans-Bold.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'GoogleSans-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
